/* Extra large devices (large desktops, 1200px and up) */
@media screen and (max-width:1200px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* // Medium devices (tablets, 768px and up) */
@media screen and (max-width:768px) {

    body{
        padding-top: 68px;
    }

    .web-logo{
        text-align: center
    }
    .web-logo>a{
        display: inline-block
    }

    .menu-trigger {
        background-image: url(../images/menu/list.svg);
        cursor: pointer;
        height: 16px;
        /* margin-right: 25px; */
        position: absolute;
        right: 0;
        width: 22px;
        z-index: 1;
        top: 16px;
    }
    body.has-menu{
        overflow-y: hidden;
    }
    body.has-menu .menu-trigger {
        background-image: url(../images/menu/0pnztVP-5_x.png);
        height: 24px;
        width: 24px;
    }
    body.has-menu #global-actions{
        height: 100%;
        pointer-events: auto;
        display: block;
        /* bottom: 0; */
    }
    #global-actions{
        width: 100%;
        display: block;
        background: var(--color-h1);
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 0;
        
        overflow-y: auto;
        position: fixed;
        left: 0;
        right: 0;
        
        top: 69px;
        -webkit-transition: .1s ease-out;
        -o-transition: .1s ease-out;
        transition: .1s ease-out;

        pointer-events: none;

        display: none;
    }
    body.has-menu #global-actions, .is-scrolling #global-actions{
        background: #fff
    }
    #global-actions .web-menu{
        display: block;
        margin-left: 40px;
        margin-right: 40px;
    }
    #global-actions .web-menu>li.home{
        display: block;
    }
    #global-actions .web-menu>li{
        display: block;
        margin-top: 22px;
        margin-bottom: 22px;
    }
    #global-actions .web-menu>li>a {
        text-align: left;
        font-size: 28px;
        color: var(--color-h1, #000);
        padding-top: 0;
        padding-bottom: 0;
    }
    #global-actions .web-menu .nav-item > a.link::before{
        display: none
    }
    #global-actions .web-menu .sup{
        display: block;
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
        position: relative;
        box-shadow: none;
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
    #global-actions .web-menu .sup a.link{
        padding-left: 35px;
    }
    #global-actions .web-menu .sup a.link:hover{
        background: transparent;
        color: var(--color-h1, #000)
    }


    .carousel{height: auto;}
    .carousel figure{max-width: 200px;margin-right: auto;display: none}
    .carousel-caption-box figure>img{max-width: 450px}
    .carousel-caption-box h1 {font-size: 32px;text-align: center}
    .carousel-caption-box h2{font-size: 20px;text-align: center;}
    .carousel-caption-box .tag{text-align: center;margin-top: 0;}

    .about-youtube-container{
        margin-left: 20px;
        margin-right: 20px;
    }
    .home-about{min-height: unset}
    .home-about-box{min-height: unset;padding: 30px;}
    .home-about-box h2{margin-bottom: 4px}
    .home-about-box p{font-size: 20px;}

    .home-who-box h3{
        font-size: 28px;
    }
    .home-who-box{
        font-size: 18px;
    }
    .cardbox {
        margin: 15px 0;
    }
    .cardbox.first{
        margin-top: 30px;
    }
    .cardbox.last{
        margin-bottom: 30px;
    }

   
    .home-youtube-iframe {
        width: 100%;
        height: auto;
    }
    
    .text-editor{
        padding-left: 0;
        padding-right: 0;
    }


    .piclist-item{
        padding: 5px;
    }
    .piclist-item .pic{
        filter: unset
    }
    .piclist-item:hover .pic,
    .piclist-item:active .pic {
        
        transform: scale(1,1)
    }
    .piclist-item .pattern{display: none}

    .home-who-box{
        margin: 20px 0 0;
    }
    
    .home-who-boxspace{
        margin: 0 0 20px;
        display: block;
    }
    .home-who-boxspace.first{
        margin-top: 20px;;
    }

    #footer-primary{
        text-align: center
    }
    #footer-primary .section{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #footer-primary .social-list{
        text-align: center;
        display: block;
    }
    #footer-primary .social-list>li{
        display: inline-block
    }
    /* #footer-primary .s */

    .nav-tabs{
        display: none
    }
    .tab-content>.tab-pane{
        display: block
    }
    .tab-content{
        padding: 0;
        border-radius: 0;
        background: transparent;
        border-width: 0
    }
    .tab-title{
        display: block;
        padding: 4px 15px;
        font-size: 20px;
        /* border-top: 1px solid transparent; */
        border-bottom: 1px solid var(--color-h1);
        cursor: default
    }
    .tab-body{
        
        /* display: none; */
        height: 0;
        overflow: hidden;
        border-bottom: 1px solid var(--color-h1);
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 1px;
        visibility: hidden;
        pointer-events: none;
        -webkit-transition: padding .23s, visibility 0s,opacity 0s;
        -webkit-transition: padding .23s,visibility 0s,opacity 0s;
        -o-transition: padding .23s,visibility 0s,opacity 0s;
        transition: padding .23s,visibility 0s,opacity 0s;
        padding-left: 15px;
        padding-right: 15px;
    }
    .tab-body>li{
        margin-bottom: 6px;
    }
    .tab-pane.active .tab-body{
        /* display: block; */
        padding-top: 15px;
        padding-bottom: 15px;
        height: auto;

        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        -webkit-transition: padding .23s,opacity 0.15s ease-out,margin 0.15s ease-out;
        -moz-transition: padding .23s,opacity 0.15s ease-out,margin 0.15s ease-out;
        -o-transition: padding .23s,opacity 0.15s ease-out,margin 0.15s ease-out;
        transition: padding .23s,opacity 0.15s ease-out,margin 0.15s ease-out;
    }
    .tab-pane.active .tab-title{
        padding-top: 8px;
        border-top-color: var(--color-h1);
        border-bottom-color: var(--color-h1);
        border-bottom-style: dashed;
    }
    .tab-pane{
        margin-bottom: 15px;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media screen and (max-width:576px) {
    .h2, h2{font-size: 22px}
    .carousel-caption-box h1 {font-size: 22px;}
    .carousel-caption-box h2{font-size: 12px}
    .carousel-caption-box figure{
        margin-bottom: 15px;
    }
    
}

@media screen and (max-device-width:480px) {
    body {-webkit-text-size-adjust: none;}
}